*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #1f2126;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  width: 100%; }

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 990px) {
    .container {
      padding: 0 25px; } }

header {
  background-image: url(../img/intro_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  header .top {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center; }
    header .top .logo {
      font-family: "Raleway", sans-serif;
      font-size: 31px;
      font-weight: 400;
      color: #fff;
      font-style: normal;
      margin: 10px 0;
      line-height: 1.5; }
    header .top .nav {
      display: flex;
      list-style-type: none;
      margin: 10px 0; }
      header .top .nav__item a {
        text-decoration: none;
        color: #fff;
        opacity: 0.5;
        display: block;
        margin: 0 8px;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        transition: all .1s linear; }
        header .top .nav__item a:hover {
          opacity: 1; }
        @media (max-width: 770px) {
          header .top .nav__item a {
            margin: 0;
            margin-left: auto;
            padding: 8px 20px; } }
      header .top .nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;
        width: 30px;
        padding: 15px 0;
        font-size: 0;
        color: transparent;
        border: 0;
        background: none;
        cursor: pointer;
        display: none; }
        header .top .nav-toggle__item {
          display: block;
          width: 100%;
          height: 3px;
          background-color: #fff;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: auto; }
          header .top .nav-toggle__item:before, header .top .nav-toggle__item:after {
            content: "";
            width: 100%;
            height: 3px;
            position: absolute;
            left: 0;
            z-index: 1;
            background-color: #fff; }
          header .top .nav-toggle__item:before {
            top: 8px; }
          header .top .nav-toggle__item:after {
            top: -8px; }
        @media (max-width: 770px) {
          header .top .nav-toggle {
            display: block;
            margin-top: 42px; } }
        @media (max-width: 550px) {
          header .top .nav-toggle {
            margin-top: 22px; } }
      @media (max-width: 770px) {
        header .top .nav {
          display: none;
          position: absolute;
          top: 80px;
          right: 0;
          background-color: #af1e1e;
          opacity: 0.8;
          width: 100%;
          transition: all .1s linear; } }
    header .top .cross {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 41px;
      z-index: 1;
      margin: 42px 0 0;
      padding: 15px 0;
      display: none; }
      header .top .cross:before, header .top .cross:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 4px;
        background: gray; }
      header .top .cross:before {
        transform: rotate(45deg); }
      header .top .cross:after {
        transform: rotate(-45deg); }
      header .top .cross:hover:before, header .top .cross:hover:after {
        background: #fff; }
    @media (max-width: 550px) {
      header .top {
        padding-top: 20px; } }

.intro {
  margin: 0 auto;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 390px; }
  .intro h1 {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 40px; }
    @media (max-width: 990px) {
      .intro h1 {
        font-size: 60px; } }
    @media (max-width: 770px) {
      .intro h1 {
        font-size: 46px;
        margin-bottom: 10px; } }
    @media (max-width: 550px) {
      .intro h1 {
        font-size: 30px; } }
  .intro p {
    max-width: 720px;
    margin: auto; }
    @media (max-width: 990px) {
      .intro p {
        max-width: 600px; } }
    @media (max-width: 770px) {
      .intro p {
        max-width: 450px; } }
  @media (max-width: 990px) {
    .intro {
      padding: 200px 0; } }
  @media (max-width: 770px) {
    .intro {
      padding-top: 100px;
      padding-bottom: 150px; } }

h2 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 56px; }
  h2:after {
    content: "";
    display: block;
    height: 3px;
    width: 110px;
    margin: 10px auto;
    background-color: #e91e5f; }
  @media (max-width: 990px) {
    h2 {
      font-size: 42px; } }
  @media (max-width: 770px) {
    h2 {
      font-size: 35px; } }

p {
  margin-top: 40px;
  line-height: 1.8; }
  @media (max-width: 770px) {
    p {
      margin-top: 10px;
      font-size: 14px; } }

.story {
  background-color: #af1e1e; }
  .story__inner {
    display: flex; }
    @media (max-width: 550px) {
      .story__inner {
        display: block; } }
  .story img {
    height: 400px;
    width: auto;
    margin: 120px 0; }
    @media (max-width: 990px) {
      .story img {
        margin: 80px 0;
        height: 300px; } }
    @media (max-width: 770px) {
      .story img {
        height: 200px; } }
    @media (max-width: 550px) {
      .story img {
        display: block;
        margin: 0 auto;
        padding: 20px;
        height: 300px; } }
  .story__content {
    text-align: center;
    margin: auto 70px; }
    @media (max-width: 770px) {
      .story__content {
        padding: 40px 0;
        margin: 0 20px; } }
    @media (max-width: 550px) {
      .story__content {
        padding-top: 20px; } }
  .story__header:after {
    background-color: #fff; }

.receipts {
  background-image: url(../img/receipts_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .receipts__inner {
    margin: 0 auto;
    text-align: center;
    max-width: 525px;
    padding-top: 110px;
    padding-bottom: 140px; }
    @media (max-width: 990px) {
      .receipts__inner {
        padding-top: 80px;
        padding-bottom: 110px; } }

.menu {
  background: #fff;
  color: #0e1015; }
  .menu__head {
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: center; }
    @media (max-width: 990px) {
      .menu__head {
        padding-top: 80px;
        padding-bottom: 60px; } }
    @media (max-width: 770px) {
      .menu__head {
        padding-top: 50px;
        padding-bottom: 30px; } }
  .menu__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    width: 100%; }
    .menu__inner .menu__col {
      width: 41%; }
      .menu__inner .menu__col .menu__item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px; }
        .menu__inner .menu__col .menu__item .menu__name {
          font-weight: 700;
          width: 80%;
          text-transform: uppercase; }
        .menu__inner .menu__col .menu__item .menu__price {
          color: #e91e5f;
          width: 20%;
          text-align: right; }
        .menu__inner .menu__col .menu__item .menu__desc {
          font-weight: 400;
          font-size: 15px;
          font-family: "Raleway", sans-serif;
          margin-top: 20px; }
          @media (max-width: 550px) {
            .menu__inner .menu__col .menu__item .menu__desc {
              font-size: 14px; } }
        @media (max-width: 550px) {
          .menu__inner .menu__col .menu__item {
            margin-bottom: 20px;
            font-size: 15px; } }
      @media (max-width: 550px) {
        .menu__inner .menu__col {
          width: 100%; } }
    @media (max-width: 990px) {
      .menu__inner {
        padding-bottom: 25px; } }
    @media (max-width: 770px) {
      .menu__inner {
        padding-bottom: 0; } }
    @media (max-width: 550px) {
      .menu__inner {
        flex-direction: column; } }

.gallery {
  position: relative;
  width: 100%; }
  .gallery .arrow {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 3;
    font-size: 0;
    color: transparent;
    background-color: #fff;
    border-radius: 3px;
    opacity: 0.3;
    padding: 20px;
    transition: all .1s linear;
    display: flex;
    align-items: center; }
    .gallery .arrow:after {
      content: "";
      display: block;
      margin: auto;
      width: 20px;
      height: 20px;
      border-top: 3px solid #0e1015;
      border-left: 3px solid #0e1015; }
    .gallery .arrow:hover {
      opacity: 0.5; }
  .gallery .arrow-prew {
    left: 0; }
    .gallery .arrow-prew:after {
      transform: rotate(-45deg); }
  .gallery .arrow-next {
    right: 0; }
    .gallery .arrow-next:after {
      transform: rotate(135deg); }
  .gallery__wrapper {
    display: flex;
    overflow: hidden;
    transition: all .3s linear; }
    .gallery__wrapper img {
      width: 34%;
      height: auto; }

footer .footer__inner {
  padding: 100px 0;
  display: flex;
  justify-content: space-between; }
  footer .footer__inner .footer__intro {
    width: 50%; }
    footer .footer__inner .footer__intro__head {
      display: flex;
      justify-content: start; }
      footer .footer__inner .footer__intro__head .logo {
        width: 50%;
        font-family: "Raleway", sans-serif;
        font-size: 31px;
        font-weight: 400;
        color: #fff;
        font-style: normal;
        margin: auto 0; }
      footer .footer__inner .footer__intro__head .book {
        margin-right: 25px;
        background-color: #af1e1e;
        border: none;
        border-radius: 3px;
        width: 150px;
        height: 50px;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        transition: all .1s linear; }
        footer .footer__inner .footer__intro__head .book:hover {
          color: #af1e1e;
          background-color: #fff; }
        @media (max-width: 770px) {
          footer .footer__inner .footer__intro__head .book {
            width: 120px;
            height: 40px;
            font-size: 16px; } }
    footer .footer__inner .footer__intro p {
      font-size: 14px;
      font-weight: 400; }
      @media (max-width: 990px) {
        footer .footer__inner .footer__intro p {
          font-size: 12px; } }
      @media (max-width: 770px) {
        footer .footer__inner .footer__intro p {
          padding-top: 10px; } }
    @media (max-width: 770px) {
      footer .footer__inner .footer__intro {
        width: 100%;
        padding-bottom: 30px; } }
  footer .footer__inner .footer__nav {
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px; }
    footer .footer__inner .footer__navcol {
      width: 45%; }
      footer .footer__inner .footer__navcol .contacts {
        width: 100%; }
        footer .footer__inner .footer__navcol .contacts__head {
          font-size: 18px;
          padding-bottom: 15px;
          color: #e91e5f; }
          @media (max-width: 990px) {
            footer .footer__inner .footer__navcol .contacts__head {
              margin-top: 10px;
              padding-bottom: 46px; } }
          @media (max-width: 770px) {
            footer .footer__inner .footer__navcol .contacts__head {
              margin-top: 0px;
              padding-bottom: 10px; } }
          @media (max-width: 550px) {
            footer .footer__inner .footer__navcol .contacts__head {
              font-size: 15px; } }
        footer .footer__inner .footer__navcol .contacts__inner {
          font-size: 14px; }
          footer .footer__inner .footer__navcol .contacts__inner div {
            padding: 10px 0; }
          footer .footer__inner .footer__navcol .contacts__inner a {
            color: #fff;
            text-decoration: none;
            transition: all .1s linear;
            cursor: pointer; }
            footer .footer__inner .footer__navcol .contacts__inner a:hover {
              color: #e91e5f; }
          footer .footer__inner .footer__navcol .contacts__inner i {
            padding-right: 8px;
            font-size: 14px;
            color: #e91e5f; }
        @media (max-width: 990px) {
          footer .footer__inner .footer__navcol .contacts {
            width: 120%;
            margin-left: -30px; } }
        @media (max-width: 550px) {
          footer .footer__inner .footer__navcol .contacts {
            width: 150%;
            margin-left: -50px; } }
    footer .footer__inner .footer__nav__head {
      font-size: 18px;
      padding-bottom: 15px;
      color: #e91e5f; }
      @media (max-width: 990px) {
        footer .footer__inner .footer__nav__head {
          margin-top: 10px;
          padding-bottom: 46px; } }
      @media (max-width: 770px) {
        footer .footer__inner .footer__nav__head {
          margin-top: 0px;
          padding-bottom: 10px; } }
      @media (max-width: 550px) {
        footer .footer__inner .footer__nav__head {
          font-size: 15px; } }
    footer .footer__inner .footer__nav__links a {
      display: block;
      color: #fff;
      padding: 10px 0;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      transition: all .1s linear;
      cursor: pointer; }
      footer .footer__inner .footer__nav__links a:hover {
        color: #e91e5f; }
    @media (max-width: 990px) {
      footer .footer__inner .footer__nav {
        padding-left: 0; } }
    @media (max-width: 770px) {
      footer .footer__inner .footer__nav {
        width: 100%; } }
  @media (max-width: 990px) {
    footer .footer__inner {
      padding: 70px 0; } }
  @media (max-width: 770px) {
    footer .footer__inner {
      padding: 40px 0;
      flex-direction: column; } }
footer .copyright {
  background-color: #0e1015;
  width: 100%;
  padding: 15px 0; }
  footer .copyright .copyr__site a {
    color: #fff;
    opacity: 0.5;
    transition: all .1s linear;
    text-decoration: none;
    transition: all .1s linear;
    cursor: pointer; }
    footer .copyright .copyr__site a:hover {
      opacity: 1; }
    @media (max-width: 770px) {
      footer .copyright .copyr__site a {
        font-size: 14px; } }

.up__btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15%;
  z-index: 3;
  font-size: 0;
  color: transparent;
  background-color: #fff;
  border-radius: 3px;
  opacity: 0.6;
  padding: 20px;
  transition: all .1s linear; }
  .up__btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 3px solid #e91e5f;
    border-left: 3px solid #e91e5f;
    transform: rotate(45deg); }
  .up__btn:hover {
    opacity: 1; }

.show {
  display: block;
  cursor: pointer; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal__dialog {
    max-width: 500px;
    margin: 40px auto; }
  .modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto; }
  .modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer; }
  .modal__text {
    margin: 20px auto 25px auto;
    text-align: center;
    color: #af1e1e;
    font-size: 22px;
    font-family: "Kaushan Script", cursive;
    font-weight: 600; }
  .modal__input {
    display: block;
    margin: 20px auto;
    width: 280px;
    height: 40px;
    box-shadow: 0 2px 12px #87888a;
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
    background: #fff; }
    .modal__input::placeholder {
      color: #0e1015;
      font-family: "Roboto", sans-serif; }
  .modal .btn {
    display: block;
    margin: 20px auto;
    width: 280px;
    height: 40px;
    box-shadow: 0 2px 12px #87888a;
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
    background-color: #af1e1e;
    color: #fff;
    font-family: "Kaushan Script", cursive;
    cursor: pointer; }

.spinner {
  display: none;
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 93%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 30px;
  height: 30px; }
  .spinner .path {
    stroke: #af1e1e;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124; } }

/*# sourceMappingURL=style.css.map */
