@use '../vars' as *;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    
    &__dialog {
        max-width: 500px;
        margin: 40px auto;
    }

    &__content {
        position: relative;
        width: 100%;
        padding: 40px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;
        max-height: 80vh;
        overflow-y: auto;
    }

    &__close {
        position: absolute;
        top: 8px;
        right: 14px;
        font-size: 30px;
        color: #000;
        opacity: .5;
        font-weight: 700;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__text {
        margin: 20px auto 25px auto;
        text-align: center;
        color: $red;

        font: {
            size: 22px;
            family: $fontheaders;
            weight: 600;
        }
    }

    &__input {
        @include bookElements;
        background: $white;

        &::placeholder {
            color: $grey-dark;
            font-family: $fontmain;
        }
    }

    & .btn {
        @include bookElements;
        background-color: $red;
        color: $white;
        font-family: $fontheaders;
        cursor: pointer;
    }
}